<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="WodaTest\">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/App/src/</directory>
            <directory suffix=".php">./src/Woda/*/src/</directory>
            <directory suffix=".php">./src/Woda/MezzioModule/*/src/</directory>
        </whitelist>
    </filter>
</phpunit>
